

.hr1 {
    border-top: 2px dashed darkorange;
}


#sidebar {
    width: 150px;
}

#header {
    h1 {
    color: cornflowerblue;
    }
}

#footer {
    p {
        color: gray;
    }

    hr {
        border-top: 2px solid dimgray;
    }
}